<form class="box" action="" method="POST">
    <h1>Login</h1>
    <input type="text" name="Email Address" placeholder="Email Address">
    <input type="password" name="Password" placeholder="Password">
    <input type="submit" value="Login">
</form>