<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="register.css">
    <link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet"> 

</head>
<body>

    <form class="box" action="" method="POST">
        <h1>Create Account</h1>
        <input type="text" name="Username" placeholder="Username" required>
        <input type="text" name="Email Address" placeholder="Email Address" required>
        <input type="password" name="Password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
        <input type="submit" value="Create Account">
    </form>

</body>
</html>