:root {
    --bg-color: #fff;
    --brand-color: #77c2b2;
    --black: #171717;
    --grey: #b9b8b9;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .box h1 {
    font-size: 40px;
    color: var(--brand-color);
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .box input[type="text"],
  .box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    text-align: center;
    border: 2px solid var(--brand-color);
    padding: 14px 10px;
    width: 350px;
    outline: none;
    color: black;
    border-radius: 10px;
    transition: 0.25s;
  }
  
  .box input[type="password"] {
    margin-top: 0;
  }
  
  .emailContainer,
  .passwordContainer {
    position: relative;
    display: flex;
    margin: 20px auto;
  }
  
  .passwordContainer {
    margin-top: 0;
  }
  
  .box input[type="text"]:focus,
  .box input[type="password"]:focus {
    width: 375px;
    border-color: rgb(86, 199, 252);
  }
  
  .box input[type="submit"],
  .box input[type="button"] {
    border: 0;
    background: none;
    display: inline-block;
    margin: auto;
    width: 175px;
    text-align: center;
    border: 2px solid var(--brand-color);
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 10px;
    transition: 0.25s;
    cursor: pointer;
  }
  
  .box input[type="submit"]:hover,
  .box input[type="button"]:hover {
    background: var(--brand-color);
    border: 2px dashed var(--brand-color);
    color: white;
  }
  
  .error-message {
    visibility: hidden;
    text-align: center;
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 150px;
    border: 2px solid red;
  }
  
  .fa-user {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
  }
  
  .fa-unlock-alt {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
  }
  