
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="css/reset.css" />
	<title>ifElseCode</title>
</head>

<body>
<div class="navigation">
    <nav class="navigation__nav">
        <!-- Add your navigation -->
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/blogs">Blogs</a></li>
				<li><a href="/contact">Contact</a></li>
				<li><a href="/admin">Admin</a></li>
			</ul>
    </nav>
    
</div>
