<div class="dashboard-blog-posts--header">
	<h1 class="dashboard-blog-posts--title">
		Blog Posts <span>All blog posts in the database</span>
	</h1>
	<a href="/dashboard/blog-posts/create">
		<i class="fas fa-plus"></i>
		Add Blog
	</a>
</div>

<table class="dashboard-blog-posts--table">
	<tr>
		<th>Date</th>
		<th>Title</th>
		<th>Author</th>
		<th>Actions</th>
	</tr>
	<% blogs.forEach(blog => { %>
	<tr>
		<td><a href="/blog/clicked"><%= `${blog.date.getDate()} ${months[blog.date.getMonth()]} ${blog.date.getFullYear()}` %></a></td>
		<td><%= blog.title %></td>
		<td><%= blog.author %></td>
		<td class="dashboard-blog-posts--actions">
			<a
				href="/dashboard/blog-posts/edit/<%= blog.id %>"
				class="dashboard-blog-posts--button dashboard-blog-posts--button__green"
				>Edit</a
			>
			<form
				class="dashboard-blog-posts--button dashboard-blog-posts--button__red"
			>
				Delete
			</form>
		</td>
	</tr>
	<% }) %>
</table>
