<div class="dashboard-blog-posts--header">
	<h1 class="dashboard-blog-posts--title">Create New Blog Post</h1>
	<a href="/dashboard/blogs/">
		<i class="fas fa-arrow-left"></i>
		Go Back
	</a>
</div>
<form action="/dashboard/edit-blog/<%= `${blog._id}` %>/edit" class="dashboard-blog-post--form" method="POST">

	<input type="text" name="blog[title]" id="title" required placeholder="Blog post title"
		value="<%= `${blog.title}` %>" />
	<textarea name="blog[content]" required rows="15" placeholder="Blog post content..."
		id="content"><%=`${blog.content}`%></textarea>
	<button type="submit">Edit</button>
</form>

<!-- <script src="/js/blogs-create.js"></script> -->