<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css" />
    <title>ifElseCode</title>
</head>
<body>
    <main>

        <h1>The admins will look at this</h1>
        <h2>This is Ormzy's edit</h2>
        <%-body%>
    </main>
    <h2>Here is an h2 above the p tag</h2>
    <p>Ormzy on feature-2</p>
    <p>Stephen on feature-1 branch</p>
        <%-body%>
    </main>
    <h2>Here is an h2 above the p tag</h2>
    <p>feature-1 branch doing stuff</p>

</body>
</html>
