<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css" />
    <title>ifElseCode</title>
</head>
<body>
    <main>
        <h1>The admins will look at this</h1>
        <%-body%>
    </main>
    <h2>Here is an h2 above the p tag</h2>
    <p>Stephen on feature-1 branch</p>
</body>
</html>