<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/base/reset.css" />
  <link rel="stylesheet" href="/css/base/global.css">
  <link rel="stylesheet" href="/css/helpers/variables.css">
  <link rel="stylesheet" href="/css/layouts/dashboard-layout.css">
  <link rel="stylesheet" href="/css/dashboard/blog-posts.css">
  <link rel="stylesheet" href="/css/dashboard/table.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous" />
  <title>ifElseCode</title>
</head>

<body>
  <div class="dashboard-sidebar">
    <div class="dashboard-sidebar__user">
      <div class="dashboard-sidebar__initials">
        <%= user.username.split(" ").map(name => name[0]).join("") %>
      </div>
      <div class="dashboard-sidebar__info">
        <div><%= user.username %></div>
        <% if (user.role.admin) { %>
          <div>Admin</div>
        <% } else if (user.role.author) { %>
          <div>Author</div>
        <% } else { %>
          <div>Visitor</div>
        <% } %>  
      </div>
      <div class="hamburger">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="dashboard-sidebar__nav">
      <a href="/">
        <i class="fa fa-home" aria-hidden="true"></i>
        <div>
          Home
        </div>
      </a>
      <a href="/dashboard">
        <i class="fas fa-tachometer-alt"></i>
        <div>
          Dashboard
        </div>
      </a>
      <a href="/dashboard/blogs">
        <i class="fa fa-book" aria-hidden="true"></i>
        <div>
          Blog Posts
        </div>
      </a>
      <a href="/dashboard/users">
        <i class="fa fa-users" aria-hidden="true"></i>
        <div>
          Users
        </div>
      </a>
      <a href="/logout">
        <i class="fas fa-sign-out-alt"></i>
        <div>
          Logout
        </div>
      </a>
    </div>
  </div>
  <div class="dashboard-content">
    <%- body %>
  </div>
</body>

</html>