<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/reset.css" />
  <link rel="stylesheet" href="css/dashboard/dashboard-styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous" />
  <title>ifElseCode</title>
</head>

<body>
  <div class="dashboard-sidebar">
    <div class="dashboard-sidebar--user">
      <div class="dashboard-sidebar--initials">
        UH
      </div>
      <div class="dashboard-sidebar--info">
        <div>Username Here</div>
        <div>Admin</div>
      </div>
    </div>
    <div class="dashboard-sidebar--nav">
      <a href="/">
        <i class="fa fa-home" aria-hidden="true"></i>
        <div>
          Home
        </div>
      </a>
      <a href="/dashboard/user-roles">
        <i class="fa fa-users" aria-hidden="true"></i>
        <div>
          User Roles
        </div>
      </a>
      <a href="/dashboard/blog-posts">
        <i class="fa fa-book" aria-hidden="true"></i>
        <div>
          Blog Post
        </div>
      </a>
      <a href="">
        <i class="fas fa-sign-out-alt"></i>
        <div>
          Logout
        </div>
      </a>
    </div>
  </div>
  <div class="dashboard-content">
    <%- body %>
  </div>
</body>

</html>