<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="css/reset.css" />
	<title>ifElseCode</title>
	<style>

		body {
			display: flex;
		}

		.main-nav {
			background: #222;
			color: white;
		}

		.main-nav img {
			width: 100px;
		}

	</style>
</head>

<body>
	<nav class="main-nav"> <!-- this nav will be common to all pages and will remain on the left -->
		<img src="https://images.unsplash.com/photo-1505739998589-00fc191ce01d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt=""> <!-- image of man throwing the camera -->
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/blogs">Blogs</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/admin">Admin</a></li>
		</ul>
	</nav>
	<hr>
	<%- body %>
  

	<script src="/js/main.js"></script>
</body>

</html>