<!-- <!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- <link rel="stylesheet" href="css/reset.css" /> -->
		<link rel="stylesheet" href="public/css/style.css">
		<title>ifElseCode</title>
	</head>
	<body>

		<div class="container">
			<header class="header">
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/about">Abouts</a></li>
						<li><a href="/blogs">Blogs</a></li>
						<li><a href="/contact">Contact</a></li>
						<li><a href="/">Home</a></li>
						<li><a href="/about">Abouts</a></li>
						<li><a href="/blogs">Blogs</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</nav>
			</header>

			<section class="section-left">

			</section>

			<section class="section-right">

			</section>

			<footer class="footer">
				
			</footer>

		</div>
		
		
=======
>>>>>>> 9e9fccee1b6064458b95218141d7649f9e464bf8

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="css/reset.css" />
	<title>ifElseCode</title>
</head>

<body>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/blogs">Blogs</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/admin">Admin</a></li>
		</ul>
	</nav>
	<hr>
	<%- body %>

	<script src="/js/main.js"></script>
</body>

</html>