<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<title>ifElseCode</title>
</head>

<body>

	<!-- Left Section -->
	<nav class="main-nav">
		<div class="main-top">
		</div>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/blogs">Blogs</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>

	<!-- Right Section -->
	<section class="main-body">
		<%- body %>
	</section>

	<script src="/js/main.js"></script>
</body>

</html>