<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<title>ifElseCode</title>
</head>

<body>
	<!-- Left Section -->
	<nav class="main-nav">
		<img src="https://images.unsplash.com/photo-1505739998589-00fc191ce01d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
			alt="">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/blogs">Blogs</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>
	<!-- Right Section -->
	<section class="main-body">
		<%- body %>
	</section>

	<script src="/js/main.js"></script>
</body>

</html>