<div class="pnf">
	<img class="pnf--image" src="/images/dog.jpg" alt="cartoon dog" />
	<div class="pnf--title">Oops!</div>
	<div class="pnf--sub-title">404 - Page Not Found</div>
	<div class="pnf--description">
		The page you are looking for might have been removed, had its name
		changed, or is temporarly unavailable
	</div>
	<a class="pnf--button" href="/">Go To Homepage</a>
</div>
