<link rel="stylesheet" href="/css/contact/contact.css">
<main>
    <section class="contact-container ">
        <header class="contact-header">
            <h1 class="contact-h1">ifElse Contact</h1>
            <a href="/"><i class="fas fa-home fa-3x contact-home-icon"></i></a>
        </header>
        <hr class="h-break">
        <h2 class="contact-head2">Why not drop us a <span class="contact-line">line</span>?</h2>
        <article class="contact-info">
            <i class="fas fa-mobile-alt fa-3x contact-mobile"></i>
            <p class="contact-para">+07000000000</p>
            <i class="fas fa-envelope-open-text fa-3x contact-envelope"></i>
            <p class="contact-para"><a href = "mailto: hello@ifelsecode.uk">hello@ifelsecode.uk</a></p>
            <i class="fas fa-clock fa-3x contact-clock"></i>
            <p class="contact-para">Mon - Fri 09:00 - 18:00</p>
        </article>
    </section>
    <section class="form-contact">
        <form action="#" method="POST">
            <div class="contact-form">
                <input class="form-name" type="text" name="yourName" placeholder="Your Name" required>
                <input class="form-email" type="text" name="email" placeholder="Your Email" required>
                <textarea class="form-message" wrap="hard" name="YourMessage" placeholder="Your Message" rows="10" cols="60" required></textarea> 
                <input type="button" value="Send" name="submit" class="form-send">
            </div>         
        </form>
    </section>
</main>    
