html {
    /* This defines what 1rem is, try to keep everything in rem */
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    background-color: #141E2A;
    color: #191B1A;
    padding: 6rem 9rem;
}

.main-nav {
    background-color: #FFF;
    position: fixed;
    width: 350px;
    height: 550px;
    border-radius: 2rem;
    overflow: hidden;
}

.main-top {
    height: 50%;
    width: 100%;
    background-color: #8FA0C7;
}

.main-body {
    background-color: #FFF;
    margin-left: 380px;
    border-radius: 2rem;
}