@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html {
	/* This defines what 1rem is, try to keep everything in rem */
	font-size: 62.5%;
}

body {
	font-family: 'Poppins', sans-serif;
	line-height: 1.7;
	color: #171717;
}
