.blog-posts--title {
	font-size: 2.5rem;
	letter-spacing: 0.1rem;
	margin-bottom: 1.5rem;
}

.blog-posts--title > span {
	font-size: 1.5rem;
}

.blog-posts--table {
	width: 100%;
}

.blog-posts--table th {
	font-weight: bold;
	letter-spacing: 0.1rem;
}

.blog-posts--table th,
.blog-posts--table td {
	font-size: 1.25rem;
	padding: 1rem;
	width: 25%;
}

.blog-posts--table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.blog-posts--table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #2f477b;
	color: white;
}

.blog-posts--actions {
	display: flex;
}

.blog-posts--button {
	padding: 0.5rem 2rem;
	border-radius: 0.5rem;
	cursor: pointer;
}

.blog-posts--button:nth-of-type(1) {
	margin-right: 1rem;
}

.blog-posts--button__green {
	background-color: #81c784;
}

.blog-posts--button__red {
	background-color: #e57373;
}
