/* Styles for Blog post Listings */
.dashboard-blog-posts--header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.5rem;
}

.dashboard-blog-posts--title {
	font-size: 2.5rem;
	letter-spacing: 0.1rem;
}

.dashboard-blog-posts--title > span {
	font-size: 1.5rem;
	opacity: 0.8;
}

.dashboard-blog-posts--header > a {
	padding: 1rem 1.5rem;
	background-color: #2f477b;
	color: #fff;
	font-size: 1.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
}

.dashboard-blog-posts--table {
	width: 100%;
}

.dashboard-blog-posts--table th {
	font-weight: bold;
	letter-spacing: 0.1rem;
}

.dashboard-blog-posts--table th,
.dashboard-blog-posts--table td {
	font-size: 1.25rem;
	padding: 1rem;
	width: 25%;
}

.dashboard-blog-posts--table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.dashboard-blog-posts--table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #2f477b;
	color: white;
}

.dashboard-blog-posts--actions {
	display: flex;
}

.dashboard-blog-posts--button {
	padding: 0.5rem 2rem;
	border-radius: 0.5rem;
	cursor: pointer;
}

.dashboard-blog-posts--button:nth-of-type(1) {
	margin-right: 1rem;
}

.dashboard-blog-posts--button__green {
	background-color: #81c784;
}

.dashboard-blog-posts--button__red {
	background-color: #e57373;
}

.dashboard-blog-posts--button__black {
	background-color: var(--black);
}

/* Styles for create blog post Form */
.dashboard-blog-post--form > input,
.dashboard-blog-post--form > textarea {
	width: 100%;
	padding: 1rem;
	font-size: 1.5rem;
	margin-bottom: 2.5rem;
	border: 1px solid var(--black);
}

.dashboard-blog-post--form > button {
	padding: 1rem 1.5rem;
	background-color: #2f477b;
	color: #fff;
	font-size: 1.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
}
