/* .dashboard-sidebar {
	width: 250px;
	height: 100%;
	position: fixed;
	border-right: 1px solid lightgrey;
}

.dashboard-sidebar__user {
	padding: 1.5rem;
	display: flex;
	align-items: center;
	background-color: rgba(26, 188, 156, .25);
}

.dashboard-sidebar__initials {
	background-color: var(--brand-color);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.75rem;
	letter-spacing: 0.1rem;
	margin-right: 1.25rem;
}

.dashboard-sidebar__info {
	letter-spacing: 0.1rem;
}

.dashboard-sidebar__info > div:nth-child(1) {
	font-size: 1.5rem;
}

.dashboard-sidebar__info > div:nth-child(2) {
	color: var(--brand-color);
	font-weight: lighter;
	font-size: 1.25rem;
}

.dashboard-sidebar__nav {
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
}

.dashboard-sidebar__nav > a {
	display: flex;
	align-items: center;
	padding: 1.5rem;
	transition: all 0.4s ease-in-out;
}

.dashboard-sidebar__nav > a:hover {
	background-color: var(--brand-color);
	color: #fff;
}

.dashboard-sidebar__nav > a > i {
	width: 30px;
	margin-right: 1rem;
}

.dashboard-content {
	margin-left: 250px;
	padding: 1.5rem;
	position: relative;
} */


/* Extra small devices (portrait phones, less than 576px */
 /* No media query for `xs` since this is the default in Bootstrap */
 body {
	padding: 3rem 1rem;
 }

 .dashboard-sidebar__user {
	padding: 1.5rem;
	display: flex;
	align-items: center;
	background-color: rgba(26, 188, 156, .25);
}

.dashboard-sidebar__initials {
	background-color: var(--brand-color);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.75rem;
	letter-spacing: 0.1rem;
	margin-right: 1.25rem;
}

.dashboard-sidebar__info {
	letter-spacing: 0.1rem;
}

.dashboard-sidebar__info > div:nth-child(1) {
	font-size: 1.5rem;
}

.dashboard-sidebar__info > div:nth-child(2) {
	color: var(--brand-color);
	font-weight: lighter;
	font-size: 1.25rem;
}

.hamburger {
	height: 50px;
	width: 50px;
	margin-left: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.hamburger > div {
	background-color: var(--black);
	height: 2px;
	width: 22.5px;
	margin: 3px;
}

.dashboard-sidebar__nav {
	display: flex;
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
	overflow-x: scroll;
}

.dashboard-sidebar__nav::-webkit-scrollbar {
	display: none;
}

.dashboard-sidebar__nav > a {
	display: flex;
	align-items: center;
	padding: 1.5rem;
	transition: all 0.4s ease-in-out;
}

.dashboard-sidebar__nav > a:hover {
	background-color: var(--brand-color);
	color: #fff;
}

.dashboard-sidebar__nav > a > i {
	width: 30px;
	margin-right: 1rem;
}

.dashboard-content {
	position: relative;
	overflow-x: hidden;
}

 /* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) {     

    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	body {
		padding: 0;
	}

	.dashboard-sidebar {
		width: 250px;
		height: 100%;
		position: fixed;
		border-right: 1px solid lightgrey;
	}

	.hamburger {
		display: none;
	}

	.dashboard-sidebar__nav {
		display: block;
	}

	.dashboard-content {
		margin-left: 250px;
		padding: 1.5rem;
		position: relative;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}
