body {
	background-color: #f2f0f2;
	padding: 6rem 9rem;
}

.main-nav {
	background-color: var(--bg-color);
	position: fixed;
	width: 350px;
	height: 550px;
	border-radius: 2rem;
	overflow: hidden;
}

.main-top {
	height: 50%;
	width: 100%;
	background-color: #8fa0c7;
}

.main-body {
	background-color: #fff;
	margin-left: 380px;
	border-radius: 2rem;
	position: relative;
	overflow: hidden;
}
