<body class="about-pageundertone">

<div class="about-body">

<h1 class="about-heading">About Us:</h1>
<br>
<br>
<p class="about-intro"><i>We are a group of students and professionals who are all connected to each other by the love and passion of Web Development!</i></p>
<br>
<br>
<p class="about-description">We decided to create this blog to showcase our current skills and learn a lot about Web Devolpment in the process. Many people have contributed to this project, some of whom have basic knowledge of HTML and CSS, while others are more knowledgable in the more advanced topics of Devolpment and have watched over us throughout this journey. We hope you are able to enjoy the blog as much as we did in creating it. Below is a list of all the contributors to this blog, many thanks to each and everyone of them who took their time and effort to bring this blog to life! Happy Coding!!</p>

<br>
<br>

<h2 class="about-name">Murfy:</h2>
<h3 class="project-contribution">Project Owner and Creator</h3>
    <div class="container-picture">
        <img class="about-picture" src="/pictures/murfy.jpg" alt="Waiting for image.">

        <div class="text">
            Old, Irish, tattooed, bearded and father to most of the Irish.
        </div>
    </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h2 class="about-name">Stephen Scholtz:</h2>
<h3 class="project-contribution">Back-End Code and projectBlog Database Creator</h3>
    <div class="container-picture">
        <img class="about-picture" src="/pictures/stephen.jpg" alt="">

        <div class="text">
            Stephen has been heading up the back-end for projectBlog and has been primarily using Node, Express and MongoDB (Mongoose). He enjoys jamming guitar and drums, chatting about philosophy and theology with friends and watching good movies.
        </div>
    </div>

<br>
<br>
<br>
<br>
<br>

<h2 class="about-name">Ormzy:</h2>
<h3 class="project-contribution">Project Administrator, Front-End Login Page, Sign-Up Page, 404 Page</h3>
        <div class="container-picture">
            <img class="about-picture" src="/pictures/ormzy.jpg" alt="">
    
            <div class="text">
                My name is Chris and I'm from the UK. My focus is mainly HTML and CSS but starting to dip into JavaScript. My main career is as a Systems Accountant whereby I found my love for systems and decided to study Web Development alongside doing a degree in Computing & IT with the Open University. In my spare time I'm an avid football fan playing for a local team mainly as a winger.
            </div>
        </div>

<br>
<br>
<br>
<br>
<br>

<h2 class="about-name">DeNoob:</h2>
<h3 class="project-contribution">Front-End Project Team Leader</h3>
        <div class="container-picture">
            <img class="about-picture" src="/pictures/denoob.jpg" alt="">
    
            <div class="text">
                I am currently pursuing a Bachelor of Science in Computer Science at The University of Texas at El Paso (UTEP). Currently, I am classified a junior and my expected graduation date is May 2022. I am a technology enthusiast who strives to develop high-tech products that will make an impact in peoples lives for the better.
            </div>
        </div>

<br>
<br>

<h2 class="about-name">First Game:</h2>
<h3 class="project-contribution">Collaborated on the Back-End with Stephen Scholtz</h3>
        <div class="container-picture">
            <img class="about-picture" src="/pictures/firstgame.jpg" alt="">
    
            <div class="text">
                I am originally from Brazil, but I live in LA, CA.  My hobbies include: getting my butt kicked trying to learn Muay Thai and Brazilian Jiu Jitsu while attempting to pay rent by working in a kitchen. I have a pet hamster named Tequila and survive on coffee and ice cream, seriously. And now I have a new found obsession: Coding.
            </div>
        </div>

<br>
<br>
<br>


<h2 class="about-name">Kandie:</h2>
    <div class="container-picture">
        <img class="about-picture" src="/pictures/kandie.jpg" alt="">
        <h3 class="project-contribution">Worked on the Contact Us Page</h3>
        <div class="text">
            I am Tesia, my friends call me Kandie. I am an aspiring Front-End Web Developer. I have a passion for learning and sharing knowledge. In my spare time I like to read, write, play video games, watch horror movies and laugh.
        </div>
    </div>
</div>
</body>

