<div class="head">
    <div class="head-contact">
        <h1>ifElse About</h1>
    </div>
    <div class="head-home">
        <a href="/"><i class="fas fa-home fa-3x"></i></a>
    </div>
</div>

<hr class="h-break">

<body class="about-body">
<h1 class="about-heading">ABOUT US:</h1>

<p class="about-intro">We are a group of students and professionals who are all connected to each other by the love and passion of Web Development!</p>

<p class="about-description">We decided to create this blog to showcase our current skills and learn a lot about Web Devolpment in the process. Many people have contributed to this project, some of whom have basic knowledge of HTML and CSS, while others are more knowledgable in the more advanced topics of Devolpment and have watched over us throughout this journey. We hope you are able to enjoy the blog as much as we did in creating it. Below is a list of all the contributors to this blog, many thanks to each and everyone of them who took their time and effort to bring this blog to life! Happy Coding!!</p>

<hr class="h-break">

<div class="person-container">
<h2 class="about-name">Murfy:</h2>
<h2 class="about-role">Project Owner and Creator, Team Mentor</h2>
<br>
<img class="about-picture" src="/pictures/murfy.jpg" alt="Waiting for image.">
<p class="about-person-info">My name is Murfy, commander of the ifElseCode army, General of the Murfy Legions and loyal servant to the true emperor, the Wife. Father to a mad house of  4 kids. Husband to a beautiful wife. And I will have my vengeance, in this life or the next.</p>
</div>

<hr class="h-break">

<div class="person-container">
<h2 class="about-name">Ormzy:</h2>
<h2 class="about-role">Project Administrator, Front-End Login Page, Sign-Up Page, 404 Page</h2>
<br>
<img class="about-picture" src="/pictures/ormzy.jpg" alt="Waiting for image.">
<p class="about-person-info">My name is Chris and I'm from the UK. My focus is mainly HTML and CSS but starting to dip into JavaScript. My main career is as a Systems Accountant whereby I found my love for systems and decided to study Web Development alongside doing a degree in Computing & IT with the Open University. In my spare time I'm an avid football fan playing for a local team mainly as a winger.</p>
</div>
    
<hr class="h-break">

<div class="person-container">
<h2 class="about-name">Stephen Scholtz:</h2>
<h2 class="about-role">Back-End Code and projectBlog Database Creator</h2>
<br>
<img class="about-picture" src="/pictures/stephen.jpg" alt="Waiting for image.">
<p class="about-person-info">Stephen has been heading up the back-end for projectBlog and has been primarily using Node, Express and MongoDB (Mongoose). He enjoys jamming guitar and drums, chatting about philosophy and theology with friends and watching good movies.</p>
</div>

<hr class="h-break">

<div class="person-container">
<h2 class="about-name">First Game:</h2>
<h2 class="about-role">Collaborated on the Back-End with Stephen Scholtz</h2>
<br>
<img class="about-picture" src="/pictures/firstgame.jpg" alt="Waiting for image.">
<p class="about-person-info">I am originally from Brazil, but I live in LA, CA.  My hobbies include: getting my butt kicked trying to learn Muay Thai and Brazilian Jiu Jitsu while attempting to pay rent by working in a kitchen. I have a pet hamster named Tequila and survive on coffee and ice cream, <strong>seriously.</strong> And now I have a new found obsession: Coding.</p>
</div>
    
<hr class="h-break">

<div class="person-container">
<h2 class="about-name">DeNoob:</h2>
<h2 class="about-role">Front-End Project Team Leader</h2>
<br>
<img class="about-picture" src="/pictures/denoob.jpg" alt="Waiting for image.">
<p class="about-person-info">I am currently pursuing a Bachelor of Science in Computer Science at The University of Texas at El Paso (UTEP). Currently, I am classified a junior and my expected graduation date is May 2022. I am a technology enthusiast who strives to develop high-tech products that will make an impact in peoples lives for the better.</p>
</div>

<hr class="h-break">

<div class="person-container">
<h2 class="about-name">Kandie:</h2>
<h2 class="about-role">Worked on the Contact Us Page</h2>
<br>
<img class="about-picture" src="/pictures/kandie.jpg" alt="Waiting for image.">
<p class="about-person-info">I am Tesia, my friends call me Kandie. I am an aspiring Front-End Web Developer. I have a passion for learning and sharing knowledge. In my spare time I like to read, write, play video games, watch horror movies and laugh.</p>
</div>

<hr class="h-break">

<div class="person-container">
<h2 class="about-name">TrapLocs:</h2>
<h2 class="about-role">Worked on the Front-End</h2>
<br>
<img class="about-picture" src="/pictures/TrapLocs.jpg" alt="Waiting for image.">
<p class="about-person-info">I enjoy meeting new people and learning new things.
    I understand we all come from different stories, different backgrounds, therefore I try not to judge. My way of doing things may be totally different from your way of doing things. To my fellow friends of the web, this is an invitation to be connected virtually. If you choose not to accept my request, as awkward as it may seem, I don't mind and that's your choice.</p>
</div>

<hr class="h-break">

<div class="person-container">
<h2 class="about-name">Ruan Potgieter:</h2>
<h2 class="about-role">Worked on the About Us Page</h2>
<br>
<img class="about-picture" src="/pictures/Kratos.jpg" alt="Waiting for image.">
<p class="about-person-info">My name is Ruan Potgieter and I currently work as a Draughtsman in Cape Town, South Africa. I enjoy playing video games, reading Non-Fiction books and just overall being a pretty chill guy. Keep delicious food away or I will attempt a sampling.</p>
</div>

<hr class="h-break">

<h1 class="about-special-thanks">Special Thanks:</h1>

<br>

<p class="about-intro">Special thanks for The Coding Journey, who has been our teacher throughout the entire process and has been vital in this project. He has a YouTube account which can be viewed <a class="about-hyperlink" href="https://www.youtube.com/channel/UCMXtUzWRxZSndEJzRfm1ztg">here.</a></p>

<div class="person-container">
<h2 class="about-name">The Coding Journey:</h2>

<br>

<img class="about-picture" src="/pictures/codingjourney.png" alt="Waiting for image.">
<p class="about-person-info">I am a Romanian Front-End Developer living in Nottingham, UK. My current hobbies are coding (yeah I know what a nerd ha ha), magic, chess and teaching people. I also enjoy humour a lot. This is my <a class="about-hyperlink" href="https://github.com/MagicAce1988">GitHub</a> account.</p>
</div>