<header>
    <h1>ifElse Blog</h1>
    <i class="far fa-envelope"></i>
</header>
<h2>Web Development beginner students are encouraged to join a study group</h2>
<h3 class="inlinefor-thedate-author">Sept 25, 2020 / by</h3><a href="#"> TrapLocz</a>
    <br>
<img height="500px" width="1200px" src="https://i.ibb.co/WpYJ5pT/Full-Stack-Developer-Road-Map-How-To-Become-A-Full-Stack-Developer-Edureka.png" alt="Image of blog post 1 - Full-Sack Web Development tools">
<p>
    I've always been a fan of study groups. Honestly, being apart of a small study group gives me the feel of a class setting with classmates. It helps me learn of different advanced course concepts and evaluating the topics I've learned. 
    This study group filled the empty place of my search of communion within Web Development. Beginners of Html, Css, and Js such as myself connecting with more experienced people to work together on multiple things such as group projects, coding challenges, etc. If you enjoy studying alone, then that is your choice. If you are looking for a group to study with, I highly recommend joining one.
</p>

<h2>More blogs coming soon!</h2>
<h3 class="inlinefor-thedate-author">Sept 26, 2020 / by</h3><a href="#"> IfElseCode</a>
    <br>
<img height="500px" width="1200px" src="https://i.ibb.co/M6fgzKV/static-dynamic2.jpg" alt="Image of blog post 2 - Example image">
<p>Blog 2 text</p>

<h2>More blogs coming soon!</h2>
<h3 class="inlinefor-thedate-author">Sept 27, 2020 / by</h3><a href="#"> IfElseCode</a>
<p>Blog 3 text</p>