<header>
    <h1>ifElse Blog</h1>
    <i class="far fa-envelope"></i>
</header>

<h2>Web Development beginner students are encouraged to join a study group</h2>
<h3 class="inlinefor-thedate-author">Sept 25, 2020 / by</h3><a href="#"> TrapLocz</a>
<p>This study group filled the empty place of my search of communion within Web Development. Beginners of Html, Css, and Js such as myself connecting with more experienced people to work together on multiple things such as group projects, coding challenges, etc...</p>
<a href="#">Read More</a>

<h2>Blog 2</h2>
<h3 class="inlinefor-thedate-author">Sept 25, 2020 / by</h3><a href="#"> IfElseCode</a>
<p>Blog 2 text</p>
<a href="#">Read More</a>

<h2>More blogs coming soon!</h2>
<h3 class="inlinefor-thedate-author">Sept 26, 2020 / by</h3><a href="#"> IfElseCode</a>
<p>Blog 2 text</p>
<a href="#">Read More</a>

<br><img src="https://i.ibb.co/543R1Hh/ifelselogov1.jpg" alt="An early logo of ifElseCode" border="0">