.about-body{
    padding: 1.5em;
}

.about-heading {
    font-size: 3em;
    text-align: center;
    color: black;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 650;
    padding-top: 1em;
    font-family: 'Alegreya', serif;
    }

.about-intro{
    font-size: 1.75em;
    font-style: italic;
    text-align: center;
    color: #707070;
    padding: 1.5em;
}

.about-description{
    font-size: 1.75em;
    text-align: center;
    padding: 2em;
}

.about-name {
    font-size: 3em;
    text-align: center;
    color: var(--brand-color);
    text-decoration: underline;
    font-weight: 600;
}

.about-role {
    font-size: 2em;
    text-align: center;
    color: salmon;
    text-decoration: underline;
    font-weight: 300;
}

.person-container {
    padding: 0.75rem;
}

.about-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--brand-color);
}

.about-person-info {
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    color: seagreen;
    padding: 1.5em;
}

.about-hyperlink {
    color: maroon;
    font-weight: 600;
}

.about-special-thanks {
    font-size: 2.25em;
    text-align: center;
    color: green;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 350;
    padding-top: 1em;
}

.head {
    font-family: "Lato", sans-serif;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.head-contact {
    margin: 4rem;
    font-size: 2rem;
    font-weight: bold;
}

.head-home {
    margin: 4rem
   }

.fa-home {
    color: var(--brand-color);
}