body {
    color: var(--brand-color);
}

h1 {
    font-size: 100px;
    font-weight: 800;
    margin-bottom: 25px;
}

.image {
    position: absolute;
    top: 100px;
    right: 100px;
}

ul {
    color: blue;
}

.container {
    box-sizing: border-box;
    width: 500px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 25px;
    margin-right: auto;
}