.pnf {
	height: 550px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pnf--title {
	font-size: 7.5rem;
	font-weight: 600;
}

.pnf--sub-title {
	font-size: 2.5rem;
}

.pnf--description {
	font-size: 1.5rem;
	width: 55%;
	text-align: center;
}

.pnf--button {
	font-size: 1.5rem;
	border-radius: 3rem;
	padding: 1rem 3rem;
	background-color: var(--brand-color);
	color: white;
	margin-top: 2rem;
}

.pnf--image {
	position: absolute;
	bottom: -5%;
	right: -2.5%;
}
